/* hi gang */
* {
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 0;
}
p {
    margin: 0 0 20px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 0px;
}
nav ul li {
    display: inline;
}
.old {
    font-family: serif !important;
}
.old-section {
    background-color: #fff !important;
    width: 100% !important;
}
.old-section h1 {
    font-size: 1.8rem;
    text-align: center;
}
.old-section p {
    font-size: 1rem;
    line-height: 1.5;
}
.modern-section h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 0;
}
.modern-section p {
    font-size: 1.2rem;
    line-height: 1.8;
}
.heading {
    text-align: center;
}
.modern {
    font-family: "Cabin" !important;
}
.gradient {
    background: linear-gradient(to bottom, #ffffff, #141414);
    padding: 20px;
    width: 100%;
    height: 80px;
}
.new-section {
    background-color: #141414 !important;
    width: 100% !important;
}
.white {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.modern-section {
    background-color: #141414 !important;
    width: 100% !important;
    padding: 20px;
}
.modern-text {
    color: #fff !important;
    font-family: "Cabin", sans-serif !important;
}
footer {
    text-align: center;
    padding: 10px 0;
}
footer p {
    font-size: 0.8rem;
}
